@import "../../global.scss";


.portfolio{
    background-color: white;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 50px;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        margin-top: 10px;
        
        li{
            font-size: 14px;
            padding: 7px;
            border-radius: 10px;
            margin-right: 50px;
            cursor: pointer;
            
            &.active{
                background-color: $nav_and_accents_color;
                color: white;
            }
        }
        #last{
                margin-right: 0px;
            }
    }
    .container{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .item{
            width: 250px;
            border-radius: 20px;
            border: 1px solid lightsalmon;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all 0.8s ease;
            h3{
                position: absolute;
                font-size: 20px;
            }
            img{
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }
            &:hover{
                background-color: $nav_and_accents_color;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
        
    }

}