@import "../../global.scss";

.portfoliolist {
  font-size: 14px;
  padding: 7px;
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;

  &.active {
    background-color: $nav_and_accents_color;
    color: white;
  }
}
