@import "../../global.scss";

#resume{
  margin-right: 0px !important;
}
.portfoliolist {
  font-size: 19px;
  padding: 7px;
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;
  @include mobile{
    margin-right: 10px;
  }
  &.active {
    background-color: $nav_and_accents_color;
    color: white;
  }
}
