@import "../../global.scss";

.navbar {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  color: $nav_and_accents_color;
  transition: all 1s ease;

  .wrap {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  .left{
        display: flex;
        align-items: center;
        .logo{
            font-size: 40px;
            font-weight: 700;
            text-decoration: none;
            color: inherit;
            margin-right: 40px;
        }
  
  }
  .right{
    .menuicon {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px 4px 10px 10px;

        span {
          width: 100%;
          height: 3px;
          background-color: $nav_and_accents_color;
          transform-origin: left;
          transition: all 1s ease;
        }
        &:hover{
          background-color: rgba($color: #000000, $alpha: 0.2)
        }
      }
  }
  }
  &.active {
    background-color: $nav_and_accents_color;
    color: white;
    .menuicon:hover{
        background-color: rgba($color: red, $alpha: 0.3) !important;
        transition: all 0.5s ease;
    }
  }
}